:root{

    --sidebar-width:280px;

}

.layout{

    display:flex;

    min-height:100vh;

    background:#F5F7FB;

}

.main-content{

    flex:1;

    margin-left:var(--sidebar-width);

    display:flex;

    flex-direction:column;

    min-height:100vh;

    transition:.35s ease;

}

.page-content{

    flex:1;

    padding:24px;

    overflow-y:auto;

}

/* ==========================
   Large Laptop
========================== */

@media(max-width:1200px){

    :root{

        --sidebar-width:240px;

    }

}

/* ==========================
   Tablet
========================== */

@media(max-width:992px){

    :root{

        --sidebar-width:220px;

    }

}

/* ==========================
   Tablet & Mobile
========================== */

@media (max-width:992px){

    .main-content{

        margin-left:0;

        width:100%;

    }

    .page-content{

        padding:18px;

    }

}

/* ==========================
   Small Mobile
========================== */

@media(max-width:480px){

    .page-content{

        padding:14px;

    }

}