.dashboard{

padding:25px 30px 35px;

background:#F8FAFC;

min-height:100vh;

}

.cards-grid{

margin-top:24px;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:22px;

}

.bottom-grid{

margin-top:26px;

display:grid;

grid-template-columns:1.6fr 1fr;

gap:22px;

}

@media(max-width:1300px){

.cards-grid{

grid-template-columns:repeat(2,1fr);

}

.bottom-grid{

grid-template-columns:1fr;

}

}

@media(max-width:768px){

.cards-grid{

grid-template-columns:1fr;

}

}